<div class="container-2 test">
  <div class="image">
    <img src="assets/images/logo-1.svg" alt="">
  </div>
  <div class="group-photo">
    <h1 class="text-center">Reset your password!</h1>
    <form   [formGroup]="resetPasswordForm" #resetPasswordNgForm="ngForm" class="">
      <mat-form-field class="flex-auto gt-xs:pr-3 w-100 mb-4">
        <mat-label>Email:</mat-label>
        <input matInput [formControlName]="'email'" >
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('required')">
            Current Password is required
        </mat-error>
        <mat-error *ngIf="resetPasswordForm.get('email')?.hasError('email')">
           Email is not valid
        </mat-error>
    </mat-form-field>


      
      <mat-form-field class="flex-auto gt-xs:pr-3 w-100 mb-4 w-100">
        <mat-label>Current Password:</mat-label>
        <input matInput [formControlName]="'password'" type="password">
        <mat-error *ngIf="resetPasswordForm.get('password')?.hasError('required')">
           Current Password is required
        </mat-error>
        <mat-error *ngIf="!resetPasswordForm.get('password')?.hasError('required') && !resetPasswordForm.get('password')?.hasError('minLength')">
           Choose a password with at least 8 characters
        </mat-error>
    </mat-form-field>


    <mat-form-field class="flex-auto gt-xs:pr-3 w-100 mb-4">
        <mat-label>Confirm Password</mat-label>
        <input #conirmPassword matInput [formControlName]="'password_confirmation'" type="password">
        <mat-error *ngIf="resetPasswordForm.get('password_confirmation')?.hasError('required')">
           Password confirmation is required
        </mat-error>
        <mat-error *ngIf="passwordDoNotMatch">
         Password do not match
      </mat-error>
        
    </mat-form-field>
    </form>
  </div>
    <div>
    <button  class="btn btn-primaryy" style="flex-direction: row; justify-content: center;" (click)="resetPassword()">
    </button>
    </div>
</div>

