<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a [routerLink]="['/']"  class="navbar-brand">Task</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a  [routerLink]="['/products']"  class="nav-link" routerLink="home">Products</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" >
         <a routerLink="/edit-profile" routerLinkActive="active"  class="nav-link">Edit profile</a>
      </ul>
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <a [routerLink]="['/profile']" routerLinkActive="router-link-active" class="nav-link" routerLink="profile"></a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" (click)="logOut()" style="cursor: pointer;">LogOut</a>
        </li>
      </ul>
    </nav>