<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a [routerLink]="['/']"  class="navbar-brand">Task</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a  [routerLink]="['/products']"  class="nav-link" routerLink="home">Products</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" >
         <a routerLink="/edit-profile" routerLinkActive="active"  class="nav-link">Edit profile</a>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/user-list']" routerLinkActive="router-link-active" class="nav-link" routerLink="profile">User list</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <a [routerLink]="['/profile']" routerLinkActive="router-link-active" class="nav-link" routerLink="profile"></a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" (click)="logOut()" style="cursor: pointer;">LogOut</a>
        </li>
      </ul>

      <li style="margin-left:70rem ;" class="pt-2">
        <button mat-raised-button routerLink="/cart" >
          <mat-icon mat-raised-button color="primary"
          matBadge={{totalCount}} matBadgePosition="before" matBadgeColor="accent">
          shopping_cart
      </mat-icon>
        </button>
      </li>
    </nav>


    <!-- Search bar -->
    <div class="container">
      <div class="d-flex justify-content-center pt-4">
        <div>
          <mat-icon class="dearchbari"  color="primary">search</mat-icon>
        </div>
        <mat-form-field>
          <mat-label  color="primary">Search a product</mat-label>
          <input  color="primary" matInput type="text" >
        </mat-form-field>
      </div>
    </div>






    <div class="row d-flex justify-content-center mt-5 ">
        <div class="card col-3 " style="width: 18rem; margin-right: 20px;" *ngFor="let prod of products">
                <img class="card-img-top" src={{prod.image}} alt="Card image cap">
                <div class="card-body">
                  <h2 class="card-title">{{prod.title}}</h2>
                  <p class="card-text">{{prod.description}}</p>
                  <p class="card-text">{{prod.category}}</p>
                  <strong >${{prod.price}}</strong>
                  <a href="#"  class="btn "></a>
                  <button class="d-flex justify-content-center" mat-raised-button color="primary" (click)="addItemtoCart(prod)" >Add to cart</button>
                </div>
          </div>
    </div>
