.card-body{
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.card{
    padding: 20px;
    margin: 50px;
}
.card-title{
    white-space: nowrap; 
    width: 190px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.card-text{
    text-transform: capitalize;
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.card-img-top {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}
.card-img-top:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.0);
}