<!-- <div class="card-body d-grid justify-content-center">
  <h1 class="d-flex justify-content-center mt-5">Log in </h1>
  <form 
  class="mt-8"
  [formGroup]="signInForm"
  #signInNgForm="ngForm"
  >
  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input id="username" matInput [formControlName]="'username'">
    <mat-error  *ngIf="signInForm.get('username')?.hasError('required')">Email address is required</mat-error>
    <mat-error  *ngIf="signInForm.get('username')?.hasError('email')">Please enter a valid email address</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="w-full">
  <mat-label>Password</mat-label>
  <input id="password" matInput type="password"[formControlName]="'password'"#passwordField >
  <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
    Password is required
  </mat-error>
  <mat-error  role="alert" *ngIf="signInForm.get('password')?.hasError('minLength')">
    Choose a password with at least 8 characters.
  </mat-error>
  </mat-form-field>
  <div class="d-grid justify-content-center">
    <button (click)="signIn()"mat-flat-button color="primary">Log in</button>
    <p><a routerLink="/find-account" routerLinkActive="active">Forgot password</a></p>
    <p><a routerLink="/sign-up" routerLinkActive="active">Dont have an account?</a></p>
  </div>
  </form>
</div> -->


<mat-card>
  <mat-card-title style="color:#3f51b5;">Login</mat-card-title>
<mat-card-content>
<form   [formGroup]="signInForm"
#signInNgForm="ngForm">
<p>
  <mat-form-field>
    <input type="email" matInput placeholder="Email" [formControlName]="'username'">
    <mat-error  *ngIf="signInForm.get('username')?.hasError('required')">Email address is required</mat-error>
    <mat-error  *ngIf="signInForm.get('username')?.hasError('email')">Please enter a valid email address</mat-error>
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" [formControlName]="'password'"#passwordField >
    <mat-error  role="alert" *ngIf="signInForm.get('password')?.hasError('minLength')">
      Choose a password with at least 8 characters.
    </mat-error>
  </mat-form-field>
</p>



<div class="button d-flex justify-content-center">
  <button mat-flat-button color="primary" (click)="signIn()" type="submit" >Login</button>
</div>
<p class="d-flex justify-content-center"><a routerLink="/sign-up" routerLinkActive="active">Dont have an account?</a></p>
<!-- <p class="d-flex justify-content-center"><a routerLink="/find-account" routerLinkActive="active">Forgot password</a></p> -->

</form>
</mat-card-content>
</mat-card>